@import "tailwindcss";

body {
  /* On définit Montserrat comme police par défaut pour tout le corps du texte */
  font-family: var(--font-montserrat), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  /* On définit Roboto Slab comme police pour tous les titres */
  font-family: var(--font-roboto-slab), sans-serif;
}


/* On conserve cette classe utilitaire pour l'accessibilité. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
